<div class="issue-content" ng-app="issue">
  
  <div ng-controller="issueController">
    <div class="issue-title">{{issue.key}} {{issue.title}}</div>
    <div class="issue-actions">
      <a class="btn btn-issue" ng-click="open()">Edit</a>
    </div>

    <table class="issue-table">
      <tr class="issue-property">
        <td>Project</td>
        <td ng-cloak>{{issue.project.name}}</td>
      </tr>
      <tr class="issue-property">
        <td>Sprint</td>
        <td ng-cloak>{{issue.sprint.name || 'None'}}</td>
      </tr>
      <tr class="issue-property">
        <td>Type</td>
        <td ng-cloak>{{issue.type}}</td>
      </tr>
      <tr class="issue-property">
        <td>Priority</td>
        <td ng-cloak>{{issue.priority}}</td>
      </tr>
      <tr class="issue-property">
        <td>Status</td>
        <td ng-cloak>{{issue.status}}</td>
      </tr>
      <tr class="issue-property">
        <td>Labels</td>
        <td ng-cloak>{{issue.labels | formatLabels}}</td>
      </tr>
    </table>

    <div class="issue-desc-header">Description</div>
    <div class="issue-desc">
      <p class="issue-desc-text" ng-bind-html="issue.description | markdown"></p>
    </div>

    <!--<div class="activity" ng-controller="activity"></div>-->
  
    <script type="text/ng-template" id="modal.html">
      <div class="modal-header">
        <h5 ng-bind="_issue.title"></h5>
        <button type="button" class="close" aria-label="close" ng-click="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body form-horizontal">
        <div class="form-group row">
          <label for="title" class="col-md-3 control-label">Title</label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="title" ng-model="_issue.title">
          </div>
        </div>
        <div class="form-group row">
          <label for="type" class="col-md-3 control-label">Type</label>
          <div class="col-md-9">
            <select name="type" class="form-control">
              <option value="Task">Task</option>
              <option value="Subtask">Subtask</option>
              <option value="Project">Project</option>
              <option value="Bug">Bug</option>
              <option value="Upgrade">Upgrade</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="priority" class="col-md-3 control-label">Priority</label>
          <div class="col-md-9">
            <select name="priority" class="form-control">
              <option value="Blocker">Blocker</option>
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="sprint" class="col-md-3 control-label">Sprint</label>
          <div class="col-md-9">
            <input type="text" name="sprint" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-md-3 control-label">Description</label>
          <div class="col-md-9">
            <textarea name="description" class="form-control" ng-model="_issue.description"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-theme" ng-click="update()">Update issue</button>
        <button class="btn btn-default" ng-click="close()">Cancel</button>
      </div>
    </script>
  </div>
</div>

<%- contentFor('title') %>
<%= key %>

