<div class="jumbotron landing-banner">
  <div class="row">
    <div class="col-md-8">
      <h1>Get started with Break</h1>
      <p>Manage projects and track issues with Break. Register your team and invite members.</p>
      <a class="btn btn-theme" href="/signup">Register and get started</a>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<%- contentFor('title') %>
Break
