<div class="admin-dashboard">
  <div class="grid-panel" ng-controller="usersController">
    <div class="grid-panel-header">
      <a class="grid-panel-title" href="/users">Manage Users</a>
    </div>
    <div class="grid-panel-body">
      <div class="row">
        <p class="no-records" ng-if="users.length === 0" ng-cloak>No users to show</p>
        <div class="col-md-2" ng-repeat="user in users | limitTo:24">
          <div class="grid-item center-block">
            <div>
              <i class="fa fa-2x fa-user"></i>
            </div>
            <a href="/users/{{user._id}}">{{user.firstname}} {{user.lastname}}</a>
            <div ng-cloak>{{user.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-panel" ng-controller="projectsController">
    <div class="grid-panel-header">
      <a class="grid-panel-title" href="/projects">Manage Projects</a>
    </div>
    <div class="grid-panel-body">
      <div class="row">
        <p class="no-records" ng-if="projects.length === 0" ng-cloak>No projects to show</p>
        <div class="col-md-3" ng-repeat="project in projects | limitTo:8">
          <div class="grid-item">
            <strong><a href="/projects/{{project.key}}" ng-cloak>{{project.name}}</a></strong>
            <div ng-cloak>{{project.type}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('title') %>
Break Administration

