<div class="project-list" ng-controller="projectsController">
  <h3>Projects</h3>
  <p class="no-records-text" ng-if="projects.length === 0" ng-cloak>There are currently no projects</p>
  <table class="table projects-table">
    <thead>
      <tr>
        <th>Project Key</th>
        <th>Name</th>
        <th>Type</th>
        <th>Lead</th>
      </tr>
    </thead>
    <tbody>
      <tr class="project-name-row" ng-repeat="project in projects">
        <td ng-bind="project.key"></td>
        <td><a href="/projects/{{project.key}}" ng-bind="project.name"></a></td>
        <td ng-bind="project.type"></td>
        <td ng-cloak>{{project.lead.name | fullname}}</td>
      </tr>
    </tbody>
  </table>
  <a class="btn btn-theme" href="/projects/new"><i class="fa fa-plus"></i> Add new project</a>
</div>

<%- contentFor('title') %>
Projects


