<form action="/project" method="POST">
  <input type="hidden" name="x-csrf" value="AUTH_TOKEN">
  <label>Key</label>
  <input type="text" name="key">
  <label>Name</label>
  <input type="text" name="name">
  <a class="btn btn-success">Create</a>
</form>
