.main-dashboard {
    padding: 0px 20px;
}

.panel {
    border: 1px solid #c40000;
    border-radius: 4px;
}

.panel-title {
    width: 100%;
    padding: 8px;
    background-color: #c40000;
    color: white;
    font-weight: bold;
}

.panel-list-group {
    margin: 0px;
    padding: 0px;
}

.panel-list-item {
    list-style-type: none;
    border-top: 1px solid #e1e1e1;
    padding: 8px;
}
