.issue-content {
    padding: 12px;
}

.issue-title {
    padding: 8px 0px;
    font-size: 24px;
}

.issue-table {
    width: 100%;
}

.issue-property > td {
    padding: 6px 0px;
}

.issue-property-label {
    width: 30%;
}

.related-issues-section {
    margin: 12px 0px;
}

.related-issues {
    margin: 12px 0px;
    border: 1px solid #e1e1e1;
    border-bottom: none;
    padding: 0px;
}

.related-issue {
    border-bottom: 1px solid #e1e1e1;
    padding: 8px 16px;
    list-style-type: none;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.issue-desc-header {
    margin-bottom: 8px;
    border-bottom: 1px solid #e1e1e1;
    padding: 4px 0px;
    font-weight: bold;
}

.new-issue-form {
    padding: 20px;
}

.board-issue-header {
    margin-bottom: 12px;
}

.board-issue-title {
    font-size: 20px;
    font-weight: 400;
}

.activity {
    margin-top: 40px;
    margin-bottom: 20px;
    border-top: 1px solid #e1e1e1;
}

.activity-record {
    border-bottom: 1px solid #e1e1e1;
    padding: 12px 0px;
}

.activity-header {
    margin-bottom: 8px;
}

