.main-content {
    margin-left: 80px;
    margin-top: 50px;
}

.topbar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #c4c4c4;
    padding: 0px 20px;
    background-color: white;
    z-index: 1;
}

.break-title,
.break-title:hover {
    display: inline-block;
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.navbar-collapse, .navbar-nav{
    height: 100%;
}

.topbar-link,
.topbar-link:hover {
    height: 100%;
    padding-top: 12px;
    color: black;
}
.topbar-link{
    background-color: white;
}
.topbar-link:hover{
    background-color: #f6f6f6;
}

.user-profile {
    display: inline-block;
    color: black;
    cursor: pointer;
}

.dropdown-menu.dropdown-menu-right {
    left: auto;
    right: 0;
    margin-top: 4px;
}

.dropdown-username,
.dropdown-username:hover {
    background-color: white;
    font-weight: bold;
}

.dropdown-login-form {
    margin: 10px;
    min-width: 250px;
}

.sidebar {
    width: 80px;
    height: 100%;
    position: fixed;
    border-right: 1px solid #c4c4c4;
}

.footer {
    margin-top: 20px;
    border-top: 1px solid #e1e1e1;
    padding: 16px;
}

@media (max-width: 676px) {
    .main-content {
        margin-left: 0px;
    }
}
