.login-form {
    width: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 25px 40px;
}

.registration-form {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.shared-link-group {
    margin-top: 10px;
}

.delete-account-group {
    margin-top: 16px;
    margin-bottom: 16px;
}

.get-started-text {
    color: #777;
}
