.login-background {
    height: calc(100vh - 50px);
    background-color: #f6f6f6;
}

.login-form {
    margin-top: 16px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 25px 40px;
    background-color: white;
}

.login-body {
    margin: 20px;
}

.registration-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.shared-link-group {
    margin-top: 10px;
}

.delete-account-group {
    margin-top: 16px;
    margin-bottom: 16px;
}

.get-started-text {
    color: #777;
}

@media (max-width: 676px) {
    .login-background {
        background-color: white;
    }
    .login-form {
        border: none;
        border-radius: 0px;
    }
}
