:root {
    --theme-color: #095adc;
}

/* Buttons */

.btn-theme {
    background-color: #095adc;
    color: white;
}
.btn-theme:hover,
.btn-theme:focus {
    background-color: #0a68f5;
    color: white;
}

.btn-wide {
    width: 100%;
}

.btn-issue,
.btn-issue:hover {
    border: 1px solid #c4c4c4;
    color: black;
    cursor: pointer;
}
.btn-issue {
    background-color: white;
}
.btn-issue:hover {
    background-color: #f6f6f6;
}

.type-label {
    display: inline-block;
    border-radius: 100px;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
}

/* Colour scheme */

.type-bug {
    background-color: #f0ad4e;
}
.type-task {
    background-color: #5bc0de;
}
.type-feature {
    background-color: #095adc;
}
.type-upgrade {
    background-color: #c4a100;
}
.type-project {
    background-color: #60c400;
}

.status-planning {
    background-color: #c4c4c4;
}
.status-in-progress {
    background-color: #f0ad4e;
}
.status-resolved {
    background-color: #095adc;
}
.status-promoted {
    background-color: #5bc0de;
}
.status-closed {
    background-color: #5cb85c;
}

/* Typography */

.no-records {
    width: 100%;
    padding: 8px;
    color: #a1a1a1;
    font-style: italic;
    text-align: center;
}

.error-page {
    padding: 40px;
    text-align: center;
}

.error-title {
    font-size: 24px;
    font-weight: bold;
}

.section-label {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    color: #a1a1a1;
    text-transform: uppercase;
}

.user-initials,
.user-initials:hover,
.user-initials:focus {
    display: inline-block;
    width: 28px;
    margin: 2px;
    border-radius: 4px;
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #85b2fa;
    color: white;
}

/* Iconography */

.org-icon,
.org-icon:hover {
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px;
    padding-top: 4px;
    border-radius: 500px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    background-color: #a1a1a1;
    color: white;
    user-select: none;
}

.badge-align {
    margin-top: -6px;
}

/* Spacing */

.body-content {
    padding: 12px;
}

.center-block {
    text-align: center;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.horizontal-divider {
    display: block;
    width: 100%;
    margin: 8px 0px;
    border-bottom: 1px solid #e1e1e1;
}

.horizontal-spacer {
    display: inline-block;
    padding-left: 20px;
}

textarea {
    white-space: pre-line;
}
