<% if (user) { %>
  <div class="sidebar hidden-xs">
    <a class="org-icon" href="/">
      <span><%= user.organization.name[0] %></span>
    </a>

    <ul class="sidebar-icons">
      <li>
        <a href="/projects/" class="sidebar-link">
          <div class="sidebar-icon">
            <i class="far fa-clipboard"></i>
          </div>
        </a>
      </li>
      <li>
        <a href="/projects/" class="sidebar-link">
        </a>
      </li>
    </ul>
  </div>
<% } %>
