<nav class="navbar navbar-expand-sm topbar">
  <a href="/" class="navbar-brand break-title">Break</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <% if (user) { %>
        <% if (user.admin && user.organization) { %>
          <li class="nav-item"><a href="/admin" class="topbar-link nav-link">Administration</a></li>
        <% } %>
        <li class="nav-item"><a href="/" class="topbar-link nav-link">Dashboard</a></li>
        <li class="nav-item"><a href="/projects" class="topbar-link nav-link">Projects</a></li>
        <li class="nav-item"><a href="/issues" class="topbar-link nav-link">Issues</a></li>
        <li class="nav-item"><a href="/issues/new" class="topbar-link nav-link">Create</a></li>
      <% } %>
    </ul>
  </div>

  <div class="pull-right dropdown show user-profile">
    <% if (user) { %>
      <a class="dropdown-toggle"
          id="dropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
        <i class="fa fa-2x fa-user-circle"></i>
      </a>

      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-item dropdown-username"><%= user.name() %></div>
        <a href="" class="dropdown-item">Profile</a>
        <a href="/settings" class="dropdown-item">Settings</a>
        <div class="dropdown-divider"></div>
        <a href="/logout" class="dropdown-item">Log out</a>
      </div>
    <% } else { %>
      <a href="/login" class="btn btn-theme">Log in</a>
    <% } %>
  </div>
</nav>
