<nav class="navbar topbar">
  <div class="nav navbar-header">
    <a href="/" class="navbar-brand break-title">Break</a>
  </div>
  
  <ul class="navbar-left navbar-items">
    <% if (user) { %>
      <li class="nav-item"><a href="/" class="topbar-link">Dashboard</a></li>
      <% if (user.admin && user.organization) { %>
        <li class="nav-item"><a href="/admin" class="topbar-link">Administration</a></li>
      <% } %>
      <li class="nav-item"><a href="/projects" class="topbar-link">Projects</a></li>
      <li class="nav-item"><a href="/issues" class="topbar-link">Issues</a></li>
      <li class="nav-item"><a href="/issues/new" class="topbar-link">Create</a></li>
    <% } %>
  </ul>

  <div class="navbar-right dropdown user-profile">
    <% if (user) { %>
      <a class="dropdown-toggle user-profile-toggle"
          id="dropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
        <i class="fa fa-2x fa-user-circle"></i>
        <i class="fa fa-caret-down"></i>
      </a>

      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-item dropdown-username"><%= user.name() %></div>
        <a href="" class="dropdown-item">Profile</a>
        <a href="/settings" class="dropdown-item">Settings</a>
        <div class="dropdown-divider"></div>
        <a href="/logout" class="dropdown-item">Log out</a>
      </div>
    <% } else { %>
      <a href="/login" class="btn btn-theme">Log in</a>
    <% } %>
  </div>
</nav>
