<div class="landing">
  <h1>Get started with Break</h1>

  <p>Manage projects and track issues with Break. Register your team and invite members.</p>

  <a class="btn btn-primary" href="/signup">Register and get started</a>
</div>

<%- contentFor('title') %>
Break
